.text-bold {
  font-weight: bold;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  background-color: aliceblue
}
.nav-tabs .nav-item .nav-link, 
.nav .nav-tabs{
  border-width: 2px;
}

.closeTab:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transform: scale(1.1);  
  -webkit-transform: scale(1.1);
  font-weight: bold;
}

.active-tab{
  background-color: aliceblue
}
.tab-content{
  background: aliceblue; 
  position: relative; 
  padding:10px; 
  border-left:1px solid #ddd; 
  border-right:1px solid #ddd; 
  border-bottom:1px solid #ddd;
  min-height: 350px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 2px;
}